<div id="<%= dom_id todo_list %>">
  <p>
    <strong>Title:</strong>
    <%= todo_list.title %>
  </p>
  <ul>
    <% @todo_list.todo_items.each do |todo_item| %>
      <li><%= todo_item.description %></li>
    <% end %>
  </ul>

</div>
