<div class="card-header d-flex justify-content-between">
  <span><%= @todo_list.title%></span>
  <%= link_to "Edit", edit_todo_list_path, class: 'btn btn-secondary btn-sm' %>
</div>

<ul class="list-group">
    <% @todo_list.todo_items.each do |todo_item| %>
      <li class="list-group-item">
        <%= todo_item.description %>
      </li>
    <% end %>
  </div>
</ul>

<div>
  <%= link_to "ToDo items", todo_list_todo_items_path(@todo_list) %>
</div>
